body {
    background-color:#eddcd3;
    background-image: url(https://media.giphy.com/media/fSeQICKvIpaGlNK8o4/giphy.gif);
    color: #0e0500
}

img {
    max-width: 400px;
}

p {
    font-size: 40px;

}

.p5 {
max-width: 1000px;
}
